<html>
    <head>
        <meta charset="utf-8">
        <title>title</title>
    </head>
    <body> 
        <script type="text/javascript" src="lib/vue/dist/vue.js"></script>
        <script type="text/javascript" src="lib/vue-resource/vue-resource.js"></script>
        <!--<script type="text/javascript" src="lib/Sortable/Sortable.js"></script>
        <script type="text/javascript" src="src/sortable.js"></script>-->
        <script type="text/javascript" src="dist/vue-sortable.min.js"></script>
        <script>
            window.onload = function () {
                var app7 = new Vue({
                    el: '#sortable',
                    data: {
                        boards: [],
                        sortableOptions: {
                            groupIdAttribute: 'id',
                            itemIdAttribute: 'id',
                            urlSaveAction: '/index1.php',
                            csrfToken:'sfsd4353w345',
                            minHeigthElement:100,
                        }
                    },
                    methods: {
                        setData: function () {
                            this.boards = [
                                {name: 'BackLog',
                                    id: 1, list:
                                            [{name: 'task1', 'id': 1},
                                                {name: 'task2', 'id': 2}],
                                    options: {
                                        disabled: true
                                    }
                                },
                                {name: 'InProgerss', id: 2, list: [
                                        {name: 'task3', 'id': 3},
                                        {name: 'task4', 'id': 4}],
                                    options: {
                                        sort: false
                                    }
                                },
                                {name: 'Done', id: 3, list: [
                                        {name: 'task5', 'id': 5},
                                        {name: 'task6', 'id': 6}],
                                    options: {}
                                }
                            ]
                        },
                        addData: function () {
                            this.boards.push({name: 'BackLog',
                                id: this.boards.length + 1, list:
                                        [{name: 'task' + (this.boards.length * 2) + 1, 'id': (this.boards.length * 2) + 1},
                                            {name: 'task' + (this.boards.length * 2) + 2, 'id': (this.boards.length * 2) + 2}],
                                options: {}
                            });
                        },
                        callback:function(data){
                            console.log(data);
                        }
                    }
                });
            };
        </script>
        <div id="sortable">
            <div v-for="board in boards" >
                <p>{{board.name}}</p>
                <ul v-bind:id="board.id" v-sortable="{global:sortableOptions,local:board.options,callback:callback}">
                    <li v-for="item in board.list"  v-bind:id="item.id"><p>{{item.name}}</p></li>
                </ul>
            </div>  
            <button v-on:click="setData()">Init Data</button>
            <button v-on:click="addData()">Add Column</button>
        </div>
    </body>
</html>